language: python

os:
 - linux

python:
 - pypy
 - pypy3
 - 2.7
 - 3.3
 - 3.4
 - 3.5

install:
 - export PATH=$PATH:~/.local/bin:~/bin
 - if [[ $TRAVIS_OS_NAME == "osx" ]]; then brew update; fi
 - if [[ $TRAVIS_OS_NAME == "osx" ]]; then brew install python; fi
 - if [[ $TRAVIS_OS_NAME == "osx" ]]; then pip install -U setuptools virtualenv; fi

script:
 - python setup.py test
