interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/1.1/followers/ids.json
  response:
    body: {string: '{"ids":[],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'}
    headers:
      content-disposition: [attachment; filename=json.json]
      content-type: [application/json;charset=utf-8]
      last-modified: ['Thu, 30 Nov 2017 19:41:14 GMT']
      status: [200 OK]
      x-access-level: [read-write]
      x-connection-hash: [9bd3fb42c3f63913f4e285a5981553e7]
      x-rate-limit-limit: ['15']
      x-rate-limit-remaining: ['11']
      x-rate-limit-reset: ['1512071733']
      x-response-time: ['27']
      x-transaction: [0042022c005c9900]
      x-twitter-response-tags: [BouncerCompliant]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: ['OAuth oauth_nonce="83137076989014121471512070874", oauth_timestamp="1512070874",
          oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="OrmGEg8ipfgyukzZpkUzHQ",
          oauth_token="936312048459374592-55nmHyOZ7Z9UdowNU9DNAy2JtC6ZAzg", oauth_signature="F4LQCqDB1GfvIHGcviDGftBamZk%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/friends/ids.json
  response:
    body: {string: '{"ids":[6853512],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'}
    headers:
      content-disposition: [attachment; filename=json.json]
      content-type: [application/json;charset=utf-8]
      last-modified: ['Thu, 30 Nov 2017 19:41:14 GMT']
      status: [200 OK]
      x-access-level: [read-write]
      x-connection-hash: [40e16dda32f5e30ab76bf3975fe2b673]
      x-rate-limit-limit: ['15']
      x-rate-limit-remaining: ['11']
      x-rate-limit-reset: ['1512071734']
      x-response-time: ['20']
      x-transaction: [0067642000ca5931]
      x-twitter-response-tags: [BouncerCompliant]
    status: {code: 200, message: OK}
version: 1
