interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/1.1/followers/ids.json
  response:
    body: {string: '{"ids":[],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'}
    headers:
      content-disposition: [attachment; filename=json.json]
      content-type: [application/json;charset=utf-8]
      last-modified: ['Thu, 30 Nov 2017 19:41:13 GMT']
      status: [200 OK]
      x-access-level: [read-write]
      x-connection-hash: [3df19d3cf42248066571c1209cc642c4]
      x-rate-limit-limit: ['15']
      x-rate-limit-remaining: ['12']
      x-rate-limit-reset: ['1512071733']
      x-response-time: ['24']
      x-transaction: [00240b0300f5728d]
      x-twitter-response-tags: [BouncerCompliant]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: ['OAuth oauth_nonce="33809483964833820151512070873", oauth_timestamp="1512070873",
          oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="OrmGEg8ipfgyukzZpkUzHQ",
          oauth_token="936312048459374592-55nmHyOZ7Z9UdowNU9DNAy2JtC6ZAzg", oauth_signature="n%2BmOwPTemyYnSuzYdUahqfoirsw%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/friends/ids.json
  response:
    body: {string: '{"ids":[6853512],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'}
    headers:
      content-disposition: [attachment; filename=json.json]
      content-type: [application/json;charset=utf-8]
      last-modified: ['Thu, 30 Nov 2017 19:41:13 GMT']
      status: [200 OK]
      x-access-level: [read-write]
      x-connection-hash: [c71c9942929e1918cb9a82ee769bb943]
      x-rate-limit-limit: ['15']
      x-rate-limit-remaining: ['12']
      x-rate-limit-reset: ['1512071734']
      x-response-time: ['23']
      x-transaction: [006d69a2000c4b41]
      x-twitter-response-tags: [BouncerCompliant]
    status: {code: 200, message: OK}
version: 1
