interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
  response:
    body: {string: '{"id":936312048459374592,"id_str":"936312048459374592","name":"bot
        utils","screen_name":"botutils","location":"","description":"","url":"https:\/\/t.co\/nsX8IijSfN","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/nsX8IijSfN","expanded_url":"http:\/\/github.com\/fitnr\/twitter_bot_utils","display_url":"github.com\/fitnr\/twitter_\u2026","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Thu
        Nov 30 19:12:42 +0000 2017","favourites_count":0,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":3,"lang":"en","status":{"created_at":"Thu
        Nov 30 19:45:48 +0000 2017","id":936320375775989762,"id_str":"936320375775989762","text":"Just
        running some more tests...","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/fakeisthenewreal.org\/strangeallure\" rel=\"nofollow\"\u003estrange
        allure\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/936315057100558336\/o6-BGpHe_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/936315057100558336\/o6-BGpHe_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}'}
    headers:
      content-disposition: [attachment; filename=json.json]
      content-type: [application/json;charset=utf-8]
      last-modified: ['Thu, 30 Nov 2017 23:44:10 GMT']
      status: [200 OK]
      x-access-level: [read-write]
      x-connection-hash: [710d6144ba7c8732bbfb4dc04ef294cb]
      x-rate-limit-limit: ['75']
      x-rate-limit-remaining: ['74']
      x-rate-limit-reset: ['1512086350']
      x-response-time: ['42']
      x-transaction: [00c9b08e00441908]
      x-twitter-response-tags: [BouncerExempt, BouncerCompliant]
    status: {code: 200, message: OK}
version: 1
